
img {
  width: 200px;
}



input[type="date"] {
  display: block;
  background-color: blue;
  color: white;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
}

